**/out
**/build
Datasets/ERR240727-l100-e1-5MPairs
Datasets/SRR826460-l150-e1-5MPairs
Datasets/SRR826471-l250-e1-5MPairs
Datasets/raw/*

*out*



WFA/DPU-MRAM/performance.log
cpu-experiments/
Datasets/ERR240727-l100-e1-100KPairs
Datasets/ERR240727-l100-e1-1MPairs
Datasets/ERR240727-l100-e1-500KPairs
Datasets/ERR240727-l100-e1-50KPairs
Datasets/sample-l100-e1-50
Datasets/sample-l100-e1-50K



*experiment*
SWG/DPU-MRAM/difference
WFA/DPU-MRAM/upmem-database
*difference*
